**/dist
**/coverage
**/.vscode
**/.nyc_output
**/.vs

.yarn/plugins
.yarn/releases

typescript-go/
packages/vscode-extension/.vscode-test-out
packages/vscode-extension/.vscode-test
packages/rslint-test-tools/tests/typescript-eslint/fixtures
packages/rslint-test-tools/tests/typescript-eslint/rules
packages/rslint/pkg/
website/doc_build
pnpm-lock.yaml