name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

env:
  GOMAXPROCS: 8

jobs:
  test-go:
    name: Test Go
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          [
            rspack-ubuntu-22.04-large,
            rspack-windows-2022-large,
            windows-latest,
            rspack-darwin-14-medium,
          ]
        go-version: ['1.25.0']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup Go
        uses: ./.github/actions/setup-go
        with:
          go-version: ${{ matrix.go-version }}
          cache-name: test-go
      - name: Unit Test
        run: |
          go test -parallel 4 ./internal/...
  go-lint:
    name: Go Lint
    runs-on: rspack-ubuntu-22.04-large
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Setup Go
        uses: ./.github/actions/setup-go
        with:
          go-version: 1.25.0
          cache-name: go-lint
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: --timeout=5m ./cmd/... ./internal/...

      - name: go vet
        run: npm run lint:go

      - name: go fmt
        run: npm run format:go

  test-node:
    name: Test npm packages
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [rspack-ubuntu-22.04-large, windows-latest]
        go-version: ['1.25.0']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Go
        uses: ./.github/actions/setup-go
        with:
          go-version: ${{ matrix.go-version }}
          cache-name: test-node

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Format
        if: runner.os == 'Linux'
        run: pnpm format:check

      - name: Build
        run: pnpm build

      - name: TypeCheck
        if: runner.os == 'Linux'
        run: pnpm typecheck

      - name: Install xvfb and dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libasound2 libgbm1 libgtk-3-0 libnss3 xvfb

      - name: VSCode Test Cache
        uses: lynx-infra/cache@5c6160a6a4c7fca80a2f3057bb9dfc9513fcb732
        with:
          path: packages/vscode-extension/.vscode-test
          key: vscode-test-${{ matrix.os }}
          restore-keys: |
            vscode-test-${{ matrix.os }}-

      - name: Test on Linux
        if: runner.os == 'Linux'
        run: xvfb-run -a pnpm -r test

      - name: Test on non-Linux
        if: runner.os != 'Linux'
        run: pnpm -r test

      - name: Check Spell
        if: runner.os == 'Linux'
        run: pnpm check-spell

      - name: Lint
        if: runner.os == 'Linux'
        run: pnpm run lint

  done:
    needs:
      - test-go
      - test-node
      - go-lint
    if: always()
    runs-on: ubuntu-latest
    name: CI Done
    steps:
      - run: exit 1
        if: ${{ always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') || contains(needs.*.result, 'cancelled')) }}
