name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

env:
  GO_VERSION: '1.24.1'

jobs:
  test-go:
    name: Test Go
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.24.1']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      ## reference from https://github.com/microsoft/typescript-go/blob/main/.github/actions/setup-go/action.yml#L26
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/Library/Caches/go-build
            ~/AppData/Local/go-build
          key: rslint-setup-go-${{ runner.os }}-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-${{ github.workflow }}-
          restore-keys: |
            rslint-setup-go-${{ runner.os }}-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-${{ github.workflow }}-

      - name: Unit Test
        run: |
          make test

  test-node:
    name: Test npm packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: TypeCheck
        run: pnpm typecheck
      - name: Format
        run: pnpm format:check

      - name: Build
        run: pnpm build

      - name: Test on Linux
        if: runner.os == 'Linux'
        run: xvfb-run -a pnpm -r test

      - name: Test on non-Linux
        if: runner.os != 'Linux'
        run: pnpm -r test

  done:
    needs:
      - test-go
      - test-node
    if: always()
    runs-on: ubuntu-latest
    name: CI Done
    steps:
      - run: exit 1
        if: ${{ always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') || contains(needs.*.result, 'cancelled')) }}
